@font-face {
  font-family: "NaNumPenScript";
  src: url("/NanumPenScript-Regular.ttf");
}

html, body {
  margin: 0;
  width: 100%;
  background-color: rgb(246, 246, 246);
}


#root { 
  background-color: white;
  max-width: 600px; /*최대너비 600px */
  min-height: 100vh;  /*화면 높이만큼 */
  height: 100%; 
  width: 100%;
  margin: 0 auto;

  box-shadow: rgba(100,100,100,0.2) 0px 0px 29px 0px ; /*옆에 그림자 */
  padding: 0px 20px; /*좌우 여백 */
  display: flex;
}

body * {
  font-family: "NaNumPenScript";

}